/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..500&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 8px;
}

a {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

#datetime-picker {
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  margin-top: 36px;
  margin-left: 156px;

  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:disabled {
  color: #808080;
  background-color: #fafafa;
  border-color: #808080;
}

#datetime-picker:disabled:hover {
  box-shadow: none;
}

button[data-start] {
  margin-left: 8px;
  margin-bottom: 32px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  outline: transparent;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

button[data-start]:disabled:hover {
  background-color: #cfcfcf;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-left: 156px;
  width: 346px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.label {
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-left: 156px;
}

.form>label {
  display: flex;
  flex-direction: column;
}

input[name='delay'] {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid #808080;
  appearance: textfield;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[name='delay']::-webkit-outer-spin-button,
input[name='delay']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[name='delay']:hover::-webkit-outer-spin-button,
input[name='delay']:hover::-webkit-inner-spin-button,
input[name='delay']:focus::-webkit-outer-spin-button,
input[name='delay']:focus::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

input[name='delay']:hover {
  border-color: #000000;
  appearance: auto;
}

input[name='delay']:focus {
  border-color: #4e75ff;
  appearance: auto;
}

.form>fieldset {
  width: 360px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 48px;
  border-radius: 4px;
}

.form>button {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  margin-top: 24px;
  outline: transparent;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form>button:hover {
  background-color: #6c8cff;
}